@model PaginatedList<PartnerViewModel>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row y-gap-20 justify-between items-end pb-60 lg:pb-40 md:pb-32">
                <div class="d-flex justify-between">

                    <h1 class="text-30 lh-14 fw-600">All Partners</h1>
                    <div class="d-flex flex-row">
                        <a asp-action="create" asp-controller="partner" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">
                            Add Partner <div class="icon-arrow-top-right ml-15"></div>
                        </a>
                        <a asp-action="deletedpartner" asp-controller="partner" class="button -md -dark-1 bg-yellow-1 text-dark-1">
                            Deleted Partners <div class="icon-arrow-top-right ml-15"></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PartnerViewModel partnerVM in Model)
                {
                    <tr>
                        <td>
                            <img src="~/assets/img/Partners/@partnerVM.ImageUrl" style="height:200px; width:auto">
                        </td>
                        <td>
                            <a asp-area="admin" asp-action="update" asp-controller="partner" asp-route-PartnerId="@partnerVM.Id" class="button -md -dark-1 bg-blue-1 text-white-1">Update</a>
                            <a asp-area="admin" asp-action="safedelete" asp-controller="partner" asp-route-PartnerId="@partnerVM.Id" class="button -md -dark-1 bg-yellow-1 text-dark-1">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav style="display:flex;justify-content:center" aria-label="...">
            <ul class="pagination">
                @if (Model.HasPrevious)
                {
                    <li class="page-item ">
                        <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage-1)" tabindex="-1">Previous</a>
                    </li>
                    @if (Model.ActivePage != 2)
                    {
                        <li class="page-item "><a asp-action="index" asp-route-page="1" class="page-link">1</a></li>

                    }
                    <li class="page-item "><a asp-action="index" asp-route-page="@(Model.ActivePage-1)" class="page-link">@(Model.ActivePage - 1)</a></li>
                }
                @if (Model.TotalPageCount > 1)
                {
                    <li class="page-item active"><a asp-action="index" asp-route-page="@Model.ActivePage" class="page-link">@Model.ActivePage</a></li>
                }
                @if (Model.HasNext)
                {
                    <li class="page-item "><a asp-action="index" asp-route-page="@(Model.ActivePage+1)" class="page-link">@(Model.ActivePage + 1)</a></li>
                    @if (Model.ActivePage != Model.TotalPageCount - 1)
                    {
                        <li class="page-item "><a asp-action="index" asp-route-page="@Model.TotalPageCount" class="page-link">@Model.TotalPageCount</a></li>

                    }
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage+1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>