@{
    Layout = "_Layout2";
}
@model SearchByCountryViewModel
<section class="section-bg layout-pt-lg layout-pb-lg">
    <div class="section-bg__item col-12">
        <img src="~/assets/img/general/headerimage.jpg" alt="image">
    </div>

    <div class="container">
        <div class="row justify-center text-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <h1 class="text-40 md:text-25 fw-600 text-white">ALL @Model.Country.CountryName.ToUpper() TOURS</h1>
                <div class="text-white mt-15">Explore Caucasus with Us</div>
            </div>
        </div>
    </div>
</section>


<section class="layout-pt-md layout-pb-lg">
    <div class="container">
        <div class="row y-gap-30">
            <div>
                <div class="row y-gap-10 items-center justify-between">
                    <div class="col-auto">
                        <div class="text-18"><span class="fw-500">All @Model.Country.CountryName Tours</span></div>
                    </div>
                </div>
                <div class="mt-30"></div>

                <div class="row y-gap-30">

                    @foreach (TourViewModel tour in Model.Tours)
                    {
                        <div class="col-12">

                            <div class="border-top-light pt-30">
                                <div class="row x-gap-20 y-gap-20">
                                    <div class="col-md-auto">

                                        <div class="cardImage ratio ratio-1:1 w-250 md:w-1/1 rounded-4">
                                            <div class="cardImage__content">

                                                <img class="rounded-4 col-12" src="~/assets/img/tours/@tour.PosterImageUrl" alt="image">

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md">
                                        <div class="row x-gap-10 items-center">
                                            <div class="col-auto">
                                                <p class="text-14 lh-14 mb-5">@tour.Duration+ hours</p>
                                            </div>
                                        </div>

                                        <h3 class="text-18 lh-16 fw-500">@tour.TourName</h3>
                                        <p class="text-14 lh-14 mt-5">
                                            @foreach (var item in tour.TourCountries)
                                            {
                                                @(Model.Countries.FirstOrDefault(x => x.Id == item.CountryId)?.CountryName + " ")
                                            }
                                        </p>

                                        <div class="text-12 lh-15 fw-500 mt-20">
                                            @if (tour.Overview.Length < 100)
                                            {
                                                @tour.Overview
                                            }
                                            else
                                            {
                                                @tour.Overview.Substring(100)
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-auto text-right md:text-left">
                                        <div class="d-flex x-gap-5 items-center justify-end md:justify-start">

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                        </div>


                                        <div class="text-14 text-light-1 mt-50 md:mt-20">From</div>
                                        <div class="text-22 lh-12 fw-600 mt-5">US$@tour.Price</div>
                                        <div class="text-14 text-light-1 mt-5">per adult</div>


                                        <a asp-action="detail" asp-controller="tour" asp-route-id="@tour.Id" class="button -md -dark-1 bg-blue-1 text-white mt-24">
                                            View Detail <div class="icon-arrow-top-right ml-15"></div>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
                <nav style="display:flex;justify-content:center" aria-label="...">
                    <ul class="pagination">
                        @if (Model.Tours.HasPrevious)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@(Model.Tours.ActivePage-1)" tabindex="-1">Previous</a>
                            </li>
                            @if (Model.Tours.ActivePage > 2)
                            {
                                <li class="page-item"><a asp-action="index" asp-route-page="1" class="page-link">1</a></li>
                            }
                            <li class="page-item"><a asp-action="index" asp-route-page="@(Model.Tours.ActivePage-1)" class="page-link">@(Model.Tours.ActivePage - 1)</a></li>
                        }
                        @if (Model.Tours.TotalPageCount != 1)
                        {
                            <li class="page-item active"><a asp-action="index" asp-route-page="@Model.Tours.ActivePage" class="page-link">@Model.Tours.ActivePage</a></li>
                        }
                        @if (Model.Tours.HasNext)
                        {
                            <li class="page-item"><a asp-action="index" asp-route-page="@(Model.Tours.ActivePage+1)" class="page-link">@(Model.Tours.ActivePage + 1)</a></li>
                            @if (Model.Tours.ActivePage != Model.Tours.TotalPageCount - 1)
                            {
                                <li class="page-item"><a asp-action="index" asp-route-page="@Model.Tours.TotalPageCount" class="page-link">@Model.Tours.TotalPageCount</a></li>
                            }
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@(Model.Tours.ActivePage+1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
                </div>
            </div>
        </div>
</section>