@inject AddMeTour.Service.Services.Abstractions.ISettingService settingService
@{
    var settings = await settingService.GetAllSettingsAsync();
    Layout = "_Layout2";
}
@model TourDetailViewModel
<section class="pt-40">
    <div class="container">
        <div class="row y-gap-15 justify-between items-end">
            <div class="col-auto">
                <h1 class="text-30 fw-600">
                    @foreach (var item in Model.Tour.TourCountries)
                    {
                        @(Model.Countries.FirstOrDefault(x => x.Id == item.CountryId)?.CountryName + ",")
                    } @Model.Tour.TourName,
                    @foreach (var item in Model.Tour.TourCategories)
                    {
                        @(Model.Categories.FirstOrDefault(x => x.Id == item.CategoryId)?.CategoryName + " ")
                    } Tour
                </h1>

                <div class="row x-gap-20 y-gap-20 items-center pt-10">
                    <div class="col-auto">
                        <div class="d-flex items-center">
                            <div class="d-flex x-gap-5 items-center">

                                <i class="icon-star text-10 text-yellow-1"></i>

                                <i class="icon-star text-10 text-yellow-1"></i>

                                <i class="icon-star text-10 text-yellow-1"></i>

                                <i class="icon-star text-10 text-yellow-1"></i>

                                <i class="icon-star text-10 text-yellow-1"></i>

                            </div>

                            <div class="text-14 text-light-1 ml-10">Best reviews</div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="row x-gap-10 items-center">
                            <div class="col-auto">
                                <div class="d-flex x-gap-5 items-center">
                                    <i class="icon-placeholder text-16 text-light-1"></i>
                                    <div class="text-15 text-light-1">
                                        @foreach (var item in Model.Tour.TourCountries)
                                        {
                                            @(Model.Countries.FirstOrDefault(x => x.Id == item.CountryId)?.CountryName + " ")
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-40 js-pin-container">
    <div class="container">
        <div class="row y-gap-30">
            <div class="col-lg-8">
                <div class="relative d-flex justify-center overflow-hidden js-section-slider" data-slider-cols="base-1" data-nav-prev="js-img-prev" data-nav-next="js-img-next">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Tour.TourImages)
                        {
                            <div class="swiper-slide">
                                <img src="~/assets/img/tours/@item.ImageUrl" alt="image" class="rounded-4 col-12 h-full object-cover">
                            </div>

                        }
                    </div>

                    <div class="absolute h-full col-11">

                        <button class="section-slider-nav -prev flex-center button -blue-1 bg-white shadow-1 size-40 rounded-full sm:d-none js-img-prev">
                            <i class="icon icon-chevron-left text-12"></i>
                        </button>

                        <button class="section-slider-nav -next flex-center button -blue-1 bg-white shadow-1 size-40 rounded-full sm:d-none js-img-next">
                            <i class="icon icon-chevron-right text-12"></i>
                        </button>

                    </div>

                </div>

                <h3 class="text-22 fw-500 mt-30">
                    Tour snapshot
                </h3>

                <div class="row y-gap-30 justify-between pt-20">

                    <div class="col-md-auto col-6">
                        <div class="d-flex">
                            <i class="icon-clock text-22 text-blue-1 mr-10"></i>
                            <div class="text-15 lh-15">
                                Duration:<br> @(Model.Tour.Duration)h
                            </div>
                        </div>
                    </div>

                    <div class="col-md-auto col-6">
                        <div class="d-flex">
                            <i class="icon-customer text-22 text-blue-1 mr-10"></i>
                            <div class="text-15 lh-15">
                                Group size:<br> @Model.Tour.GroupSize
                            </div>
                        </div>
                    </div>

                    <div class="col-md-auto col-6">
                        <div class="d-flex">
                            <i class="icon-route text-22 text-blue-1 mr-10"></i>
                            <div class="text-15 lh-15">
                                Transfer and Transport<br> is available
                            </div>
                        </div>
                    </div>

                    <div class="col-md-auto col-6">
                        <div class="d-flex">
                            <i class="icon-access-denied text-22 text-blue-1 mr-10"></i>
                            <div class="text-15 lh-15">
                                Terms <br><a href='#' class='text-blue-1 underline'>Learn more</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="border-top-light mt-40 mb-40"></div>

                <div class="row x-gap-40 y-gap-40">
                    <div class="col-12">
                        <h3 class="text-22 fw-500">Overview</h3>

                        <p class="text-dark-1 text-15 mt-20">
                            @Model.Tour.Overview
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h5 class="text-16 fw-500">Available languages</h5>
                        <div class="text-15 mt-10">
                            @foreach (var item in Model.Tour.TourLanguages)
                            {
                                @(Model.Languages.FirstOrDefault(x => x.Id == item.LanguageId)?.LanguageName + " ")
                            }
                        </div>
                    </div>

                </div>

                <div class="mt-40 border-top-light">
                    <div class="row x-gap-40 y-gap-40 pt-40">
                        <div class="col-12">
                            <h3 class="text-22 fw-500">What's Included</h3>

                            <div class="row x-gap-40 y-gap-40 pt-20">
                                <div class="col-md-6">
                                    @foreach (var item in Model.Tour.TourInclusions)
                                    {
                                        <div class="text-dark-1 text-15">
                                            <i class="icon-check text-10 mr-10"></i> @(Model.Inclusions.FirstOrDefault(x => x.Id == item.InclusionId)?.InclusionString)
                                        </div>

                                    }
                                </div>

                                <div class="col-md-6">
                                    @foreach (var item in Model.Tour.TourExclusions)
                                    {
                                        <div class="text-dark-1 text-15">
                                            <i class="icon-close text-green-2 text-10 mr-10"></i> @(Model.Exclusions.FirstOrDefault(x => x.Id == item.ExclusionId)?.ExclusionString)
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-40 border-top-light">
                <div class="row y-gap-30 pt-30">
                        <h3 class="text-22 fw-500">Trip maps</h3>
                    <div class="col-md-6">
                        <img src="~/assets/img/tours/@Model.Tour.TourImages.FirstOrDefault(x => x.IsFirstMap == true && x.IsActive == true && x.IsSecondMap == false && x.IsPoster == false)?.ImageUrl" alt="image" class="rounded-4">
                    </div>
                    <div class="col-md-6">
                            <img src="~/assets/img/tours/@Model.Tour.TourImages.FirstOrDefault(x => x.IsFirstMap == false && x.IsActive == true && x.IsSecondMap == true && x.IsPoster == false)?.ImageUrl" alt="image" class="rounded-4">
                    </div>
                </div>
            </div>
            </div>

            @if(Model.Tour.IsGuaranteed == false)
            {

                <div class="col-lg-4">
                    <div class="d-flex justify-end js-pin-content">
                        <div class="w-360 lg:w-full d-flex flex-column items-center">
                            <div class="px-30 py-30 rounded-4 border-light bg-white shadow-4">
                                <div class="text-14 text-light-1">
                                    Price for adults:  <span class="text-20 fw-500 text-dark-1 ml-5">$@Model.Tour.Price</span>
                                </div>

                                <div class="row y-gap-20 pt-30">
                                    <div class="col-12">

                                        <div class="searchMenu-guests px-20 py-10 border-light rounded-4 js-form-dd js-form-counters">

                                            <div data-x-dd-click="searchMenu-guests">
                                                <h4 class="text-15 fw-500 ls-2 lh-16">Number of travelers</h4>

                                                <div class="text-15 text-light-1 ls-2 lh-16">
                                                    <span class="js-count-adult">2</span> adults
                                                    -
                                                    <span class="js-count-child">1</span> childeren
                                                </div>
                                            </div>


                                            <div class="searchMenu-guests__field shadow-2" data-x-dd="searchMenu-guests" data-x-dd-toggle="-is-active">
                                                <div class="bg-white px-30 py-30 rounded-4">
                                                    <div class="row y-gap-10 justify-between items-center">
                                                        <div class="col-auto">
                                                            <div class="text-15 fw-500">Adults</div>
                                                        </div>

                                                        <div class="col-auto">
                                                            <div class="d-flex items-center js-counter" data-value-change=".js-count-adult">
                                                                <button class="button -outline-blue-1 text-blue-1 size-38 rounded-4 js-down">
                                                                    <i class="icon-minus text-12"></i>
                                                                </button>

                                                                <div class="flex-center size-20 ml-15 mr-15">
                                                                    <div class="text-15 js-count">2</div>
                                                                </div>

                                                                <button class="button -outline-blue-1 text-blue-1 size-38 rounded-4 js-up">
                                                                    <i class="icon-plus text-12"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="border-top-light mt-24 mb-24"></div>

                                                    <div class="row y-gap-10 justify-between items-center">
                                                        <div class="col-auto">
                                                            <div class="text-15 lh-12 fw-500">Children</div>
                                                            <div class="text-14 lh-12 text-light-1 mt-5">Ages 0 - 17</div>
                                                        </div>

                                                        <div class="col-auto">
                                                            <div class="d-flex items-center js-counter" data-value-change=".js-count-child">
                                                                <button class="button -outline-blue-1 text-blue-1 size-38 rounded-4 js-down">
                                                                    <i class="icon-minus text-12"></i>
                                                                </button>

                                                                <div class="flex-center size-20 ml-15 mr-15">
                                                                    <div class="text-15 js-count">1</div>
                                                                </div>

                                                                <button class="button -outline-blue-1 text-blue-1 size-38 rounded-4 js-up">
                                                                    <i class="icon-plus text-12"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12">
                                        <a href="@settings.FirstOrDefault(x => x.Key == "Book")?.Value" class="button -dark-1 py-15 px-35 h-60 col-12 rounded-4 bg-blue-1 text-white">
                                            Book Now
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row y-gap-20">
            <div class="col-lg-8">
                <div class="accordion -simple row y-gap-20 js-accordion">
                    <h3 class="text-22 fw-500"> Itinerary</h3>
                    @foreach (var item in Model.Tour.Destinations)
                    {

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">@item.Title</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

</section>

@if(Model.Tour.IsGuaranteed == true)
{
    <section id="rooms" class="pt-30">
        <div class="container">
            <div class="row pb-20">
                <div class="col-auto">
                    <h3 class="text-22 fw-500">Available Dates</h3>
                </div>
            </div>

            <div class="bg-blue-2 rounded-4 px-30 py-30 sm:px-20 sm:py-20">
                <div class="row y-gap-30">
                    <div class="col-xl">


                        <div class="bg-white rounded-4 px-30 py-30">

                            <div class="row y-gap-30">
                                <div class="col-lg col-md-6">
                                    <div class="text-15 fw-500 mb-10">Tour details:</div>

                                    <div class="y-gap-5">

                                        <div class="d-flex items-center text-green-2">
                                            <i class="icon-check text-12 mr-10"></i>
                                            <div class="text-15">Tour starts: @Model.GuaranteedDates.FirstOrDefault(x => x.TourId == Model.Tour.Id)?.TourStartTime.ToString()</div>
                                        </div>

                                        <div class="d-flex items-center text-green-2">
                                            <i class="icon-check text-12 mr-10"></i>
                                            <div class="text-15">Tour ends: @Model.GuaranteedDates.FirstOrDefault(x => x.TourId == Model.Tour.Id)?.TourStartTime.ToString()</div>
                                        </div>

                                        <div class="d-flex items-center text-green-2">
                                            <i class="icon-check text-12 mr-10"></i>
                                            <div class="text-15">@Model.GuaranteedDates.FirstOrDefault(x => x.TourId == Model.Tour.Id)?.MaxPeopleCount +Spaces left</div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-auto col-md-6 border-left-light lg:border-none text-right lg:text-left">
                                    <div class="pl-40 lg:pl-0">
                                        <div class="text-20 lh-14 fw-500">US$@Model.GuaranteedDates.FirstOrDefault(x => x.TourId == Model.Tour.Id)?.Price</div>

                                        <a href="@(settings.FirstOrDefault(x => x.Key == "Book")?.Value)" class="button h-50 px-35 -dark-1 bg-blue-1 text-white mt-10">
                                            Book <div class="icon-arrow-top-right ml-15"></div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>
}

<div class="container mt-40 mb-40">
    <div class="border-top-light"></div>
</div>

<section>
    <div class="container">
        <div id="TA_cdswritereviewlgvi957" class="TA_cdswritereviewlgvi">
            <ul id="UwbqaJ8vv6" class="TA_links 67ThPuQDLIZ1">
                <li id="oPj4xQAS" class="pm1A2SeWYJ">
                    <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt="TripAdvisor" /></a>
                </li>
            </ul>
        </div>
        <script async src="https://www.jscache.com/wejs?wtype=cdswritereviewlgvi&amp;uniq=957&amp;locationId=27136216&amp;lang=en_US&amp;lang=en_US&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
    </div>
</section>

<div class="container mt-40 mb-40">
    <div class="border-top-light"></div>
</div>

<section class="layout-pt-lg layout-pb-lg">
    <div class="container">
        <div class="row justify-between items-end">
            <div class="col-auto">
                <div class="sectionTitle -md">
                    <h2 class="sectionTitle__title">Recommended Experiences</h2>
                </div>
            </div>

            <div class="col-auto">

                <a asp-action="index" asp-controller="tour" class="button h-50 px-24 -blue-1 bg-blue-1-05 text-blue-1">
                    See All <div class="icon-arrow-top-right ml-15"></div>
                </a>

            </div>
        </div>

        <div class="row y-gap-30 pt-40 sm:pt-20">

            @foreach (var tour in Model.Tours)
            {
                @if (tour.Id == Model.Tour.Id) { continue; }
                <div class="col-xl-3 col-lg-3 col-sm-6">

                    <a asp-action="detail" asp-controller="tour" asp-route-id="@tour.Id" class="tourCard -type-1 rounded-4 ">
                        <div class="tourCard__image">

                            <div class="cardImage ratio ratio-1:1">
                                <div class="cardImage__content">

                                    <img class="rounded-4 col-12" src="~/assets/img/tours/@tour.PosterImageUrl" alt="image">


                                </div>

                                <div class="cardImage__leftBadge">
                                    <div class="py-5 px-15 rounded-right-4 text-12 lh-16 fw-500 uppercase bg-dark-1 text-white">
                                        BEST SELLER
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="tourCard__content mt-10">
                            <div class="d-flex items-center lh-14 mb-5">
                                <div class="text-14 text-light-1">@tour.Duration+ hours</div>
                            </div>

                            <h4 class="tourCard__title text-dark-1 text-18 lh-16 fw-500">
                                <span>
                                    @foreach (var item in tour.TourCountries)
                                    {
                                        @(Model.Countries.FirstOrDefault(x => x.Id == item.CountryId)?.CountryName + ",")
                                    } @Model.Tour.TourName,
                                    @foreach (var item in tour.TourCategories)
                                    {
                                        @(Model.Categories.FirstOrDefault(x => x.Id == item.CategoryId)?.CategoryName + " ")
                                    } Tour
                                </span>
                            </h4>

                            <p class="text-light-1 lh-14 text-14 mt-5">
                                @foreach (var item in tour.TourCountries)
                                {
                                    @(Model.Countries.FirstOrDefault(x => x.Id == item.CountryId)?.CountryName + ",")
                                }
                            </p>

                            <div class="row justify-between items-center pt-15">
                                <div class="col-auto">
                                    <div class="d-flex items-center">
                                        <div class="d-flex items-center x-gap-5">

                                            <div class="icon-star text-yellow-1 text-10"></div>

                                            <div class="icon-star text-yellow-1 text-10"></div>

                                            <div class="icon-star text-yellow-1 text-10"></div>

                                            <div class="icon-star text-yellow-1 text-10"></div>

                                            <div class="icon-star text-yellow-1 text-10"></div>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-auto">
                                    <div class="text-14 text-light-1">
                                        From
                                        <span class="text-16 fw-500 text-dark-1">US$@tour.Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

            }
        </div>
    </div>
</section>