@{
    Layout = "_Layout2";
}
@model MainTourViewModel
<section class="section-bg layout-pt-lg layout-pb-lg">
    <div class="section-bg__item col-12">
        <img src="~/assets/img/general/headerimage.jpg" alt="image">
    </div>

    <div class="container">
        <div class="row justify-center text-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <h1 class="text-40 md:text-25 fw-600 text-white">ALL TOURS</h1>
                <div class="text-white mt-15">Explore Caucasus with Us</div>
            </div>
        </div>
    </div>
</section>
<section class="layout-pt-md layout-pb-lg">
    <div class="container">
        <div class="row y-gap-30">
            <div >
                <div class="row y-gap-10 items-center justify-between">
                    <div class="col-auto">
                        <div class="text-18"><span class="fw-500">All Caucasus Tours</span></div>
                    </div>
                </div>
                <div class="filterPopup bg-white" data-x="filterPopup" data-x-toggle="-is-active">
                    <aside class="sidebar -mobile-filter">
                        <div data-x-click="filterPopup" class="-icon-close">
                            <i class="icon-close"></i>
                        </div>

                        <div class="sidebar__item -no-border">
                            <h5 class="text-18 fw-500 mb-10">Category Types</h5>
                            <div class="sidebar-checkbox">

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Tours</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">92</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Attractions </div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">45</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Day Trips</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">21</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Outdoor Activities </div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">78</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Concerts &amp; Shows </div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">679</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sidebar__item">
                            <h5 class="text-18 fw-500 mb-10">Other</h5>
                            <div class="sidebar-checkbox">

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Free cancellation</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">92</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sidebar__item pb-30">
                            <h5 class="text-18 fw-500 mb-10">Price</h5>
                            <div class="row x-gap-10 y-gap-30">
                                <div class="col-12">
                                    <div class="js-price-rangeSlider">
                                        <div class="text-14 fw-500"></div>

                                        <div class="d-flex justify-between mb-20">
                                            <div class="text-15 text-dark-1">
                                                <span class="js-lower"></span>
                                                -
                                                <span class="js-upper"></span>
                                            </div>
                                        </div>

                                        <div class="px-5">
                                            <div class="js-slider"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar__item">
                            <h5 class="text-18 fw-500 mb-10">Duration</h5>
                            <div class="sidebar-checkbox">

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Up to 1 hour</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">92</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">1 to 4 hours </div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">45</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">4 hours to 1 day </div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">21</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sidebar__item">
                            <h5 class="text-18 fw-500 mb-10">Languages</h5>
                            <div class="sidebar-checkbox">

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">English</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">92</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Spanish</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">45</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">French</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">45</div>
                                    </div>
                                </div>

                                <div class="row y-gap-10 items-center justify-between">
                                    <div class="col-auto">

                                        <div class="d-flex items-center">
                                            <div class="form-checkbox ">
                                                <input type="checkbox" name="name">
                                                <div class="form-checkbox__mark">
                                                    <div class="form-checkbox__icon icon-check"></div>
                                                </div>
                                            </div>

                                            <div class="text-15 ml-10">Turkish</div>

                                        </div>

                                    </div>

                                    <div class="col-auto">
                                        <div class="text-15 text-light-1">21</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </aside>
                </div>

                <div class="mt-30"></div>

                <div class="row y-gap-30">

                    @foreach (TourViewModel tour in Model.Tours)
                    {
                        <div class="col-12">

                            <div class="border-top-light pt-30">
                                <div class="row x-gap-20 y-gap-20">
                                    <div class="col-md-auto">

                                        <div class="cardImage ratio ratio-1:1 w-250 md:w-1/1 rounded-4">
                                            <div class="cardImage__content">

                                                <img class="rounded-4 col-12" src="~/assets/img/tours/@tour.PosterImageUrl" alt="image">

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md">
                                        <div class="row x-gap-10 items-center">
                                            <div class="col-auto">
                                                <p class="text-14 lh-14 mb-5">@tour.Duration+ hours</p>
                                            </div>
                                        </div>

                                        <h3 class="text-18 lh-16 fw-500">@tour.TourName</h3>
                                        <p class="text-14 lh-14 mt-5">
                                                @foreach (var item in tour.TourCountries)
                                                {
                                                    @(Model.Countries.FirstOrDefault(x => x.Id == item.CountryId)?.CountryName + " ")
                                                }
                                        </p>

                                        <div class="text-12 lh-15 fw-500 mt-20">
                                            @if (tour.Overview.Length < 400)
                                            {
                                                @tour.Overview
                                            }
                                            else
                                            {
                                                @(tour.Overview.Substring(0,400) + "...")
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-auto text-right md:text-left">
                                        <div class="d-flex x-gap-5 items-center justify-end md:justify-start">

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                            <i class="icon-star text-10 text-yellow-1"></i>

                                        </div>


                                        <div class="text-14 text-light-1 mt-50 md:mt-20">From</div>
                                        <div class="text-22 lh-12 fw-600 mt-5">US$@tour.Price</div>
                                        <div class="text-14 text-light-1 mt-5">per adult</div>


                                        <a asp-action="detail" asp-controller="tour" asp-route-id="@tour.Id" class="button -md -dark-1 bg-blue-1 text-white mt-24">
                                            View Detail <div class="icon-arrow-top-right ml-15"></div>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
                    <nav style="display:flex;justify-content:center" aria-label="...">
                        <ul class="pagination">
                            @if (Model.Tours.HasPrevious)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="index" asp-route-page="@(Model.Tours.ActivePage-1)" tabindex="-1">Previous</a>
                                </li>
                                @if (Model.Tours.ActivePage > 2)
                                {
                                    <li class="page-item"><a asp-action="index" asp-route-page="1" class="page-link">1</a></li>
                                }
                                <li class="page-item"><a asp-action="index" asp-route-page="@(Model.Tours.ActivePage-1)" class="page-link">@(Model.Tours.ActivePage - 1)</a></li>
                            }
                            @if (Model.Tours.TotalPageCount != 1)
                        {
                            <li class="page-item active"><a asp-action="index" asp-route-page="@Model.Tours.ActivePage" class="page-link">@Model.Tours.ActivePage</a></li>
                        }
                            @if (Model.Tours.HasNext)
                            {
                                <li class="page-item"><a asp-action="index" asp-route-page="@(Model.Tours.ActivePage+1)" class="page-link">@(Model.Tours.ActivePage + 1)</a></li>
                                @if (Model.Tours.ActivePage != Model.Tours.TotalPageCount - 1)
                                {
                                    <li class="page-item"><a asp-action="index" asp-route-page="@Model.Tours.TotalPageCount" class="page-link">@Model.Tours.TotalPageCount</a></li>
                                }
                                <li class="page-item">
                                    <a class="page-link" asp-action="index" asp-route-page="@(Model.Tours.ActivePage+1)">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>

            </div>
        </div>
    </div>
</section>
